@import "tailwindcss";

@theme {
    --color-neon-blue: #00f3ff;
    --color-neon-purple: #bc13fe;
    --color-neon-pink: #ff00ff;
    --color-midnight-900: #0a0a12;
    --color-midnight-950: #050508;

    --font-display: "Orbitron", sans-serif;
    --font-body: "Inter", sans-serif;

    --animate-scan-line: scan-line 2s linear infinite;
    --animate-pulse-slow: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes scan-line {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

/* Base Styles */
body {
    background-color: var(--color-midnight-950);
    color: white;
    font-family: var(--font-body);
    overflow: hidden;
    /* App-like feel */
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

/* Utilities */
.glass-panel {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
}